<% if !logged_in?%>

<div id="welcome-header-stranger">

    <h1>Welcome to Somi's Merch Manager!</h1>

</div>

<div id="welcome-msg">
    <p>Here you can keep track of all the photocards you collect from your K-Pop albums, light sticks, and more. Create community posts highlighting your favorite comebacks, discuss the latest news breaks, and start card trades! Login and begin your journey...</p>
</div>
<div>
    <%= link_to "Register Here" , signup_path %>
        <br>
    <%= link_to "Log In Here" , login_path %>
        <br>
    <%= button_to "Log in with Google" , '/auth/google_oauth2' %>
</div>

<% else %>
<% breadcrumb :root %>

<div id="welcome-header-known">
<h1>Hello, <%= current_user.name.capitalize %>! </h1>
</div>
<div id="known-msg-dashboard">

<p>Your Last 3 Artists: <%= user_artist_links %>
</p>
<ul>
    <% if !current_user.artists.empty? %>
        <% current_user.artists.limit(3).each do |a|%>
            <li>
                <%= link_to a.name, artist_path(a) %>
            </li>
            <% end %>
                <% end %>
</ul>

<p>Your Last 3 Photocards: <%= user_photocard_links %>
</p>
<ul>
    <% if !current_user.photocards.empty? %>
        <% current_user.photocards.limit(3).each do |p|%>
            <li>
                <%= link_to p.title, photocard_path(p) %>
            </li>
            <% end %>
                <% end %>
</ul>

<p>Your Top 3 Posts: <%= user_post_links %>
</p>
<ol>
    <% if !current_user.posts.most_comments.empty? %>
        <% current_user.posts.most_comments.limit(3).each do |p|%>
            <li>
                <%= link_to p.title, post_path(p) %>
            </li>
            <% end %>
                <% end %>
</ol>
</div>
<% end %>