
<h1>
    <%= @artist.name.capitalize %>'s Profile
</h1>

<p>Age: <%= @artist.age %></p>
<p>Birthday: <%= @artist.birth_date.to_formatted_s(:long_ordinal) %></p>
<p>Other Name: <%= @artist.other_name %></p>
<p>Position: <%= @artist.position %></p>
<p>Company: <%= @artist.company %></p>
<p>Your favorite album: <%= @artist.album.title %> - released: <%= @artist.album.release_date %> <p>
    <%= @artist.name.capitalize %>'s Photocards:
        <ul>
            <% @artist.photocards.each do |p|%>
                <li>
                    <%= link_to p.title, photocard_path(p) %>
                </li>
                <% end %>
        </ul>
</p>

<button onclick='addPhotocard()'> Add a new photocard?</button>
<br>
<br>
<div id="photocardForm">
    <%= render "photocards/artists/form" %>
</div>


<p>Notes: <%= @artist.artist_notes %>
</p>

<%= link_to "Edit Artist" , edit_artist_path(@artist) %>

    <script>
        function addPhotocard() {
            $('#photocardForm').show();
        };
    </script>