<h1> Merch Manager's Community Top Reports</h1>

<div id="Top-users-by-posts">
    <h3>Top Post Makers</h3>
    <ol>
    <% top_users.each do |u|%>
        <% if u.posts.any? %>
            <li><%= u.name.capitalize%>: <%= u.posts.count%> - <%= link_to 'See their posts' , user_posts_path(u)%></li>
        <%end%>
    <%end%>
    </ol>
</div>



<div id="Top-posts-by-comments">
    <h3>Most Popular Posts</h3>
    <ol>
        <% top_posts.each do |p|%>
            <% if p.comments.any?%>
            <li><%=p.title%> - <%=p.user.name.capitalize%>: <%=p.comments.count%> comment(s)</li>
            <% end %>
        <% end %>
    </ol>
</div>

<div id="Top-artists-by-photocards">
    <h3>Artists with Most Photocards</h3>
    <ol>
        <% top_artists.each do |a|%>
            <% if a.photocards.any?%>
                <li>
                    <%=a.name%> - <%=a.user.name.capitalize%>: <%=a.photocards.count%> photocards(s)
                </li>
                <% end %>
                    <% end %>
    </ol>
    </div>
</div>

