<div>
    <h1> Welcome <%= current_user.name.capitalize %></h1>
</div>


<h3>Dashboard</h3>

<p>Your Last 3 Artists: <%= user_artist_links %></p>
<ul>
    <% if !current_user.artists.empty? %>
        <% current_user.artists.limit(3).each do |a|%>
            <li>
                <%= link_to a.name, artist_path(a) %>
            </li>
            <% end %>
                <% end %>
</ul>
<p>Your Last 3 Photocards: <%= user_photocard_links %></p>
<ul>
    <% if !current_user.photocards.empty? %>
        <% current_user.photocards.limit(3).each do |p|%>
            <li>
                <%= link_to p.title, photocard_path(p) %>
            </li>
            <% end %>
                <% end %>
</ul>

<p>Your Top 3 Posts: <%= user_post_links %></p>
<ol>
    <% if !current_user.posts.most_comments.empty? %>
    <% current_user.posts.most_comments.limit(3).each do |p|%>
        <li>
            <%= link_to p.title, post_path(p) %>
        </li>
        <% end %>
    <% end %>
</ol>


<%= link_to "Delete Account" , user_path(@user), method: "delete" ,  data: { confirm: "Are you sure?" } %>



<div>
    <%= link_to "Logout" , logout_path, method: "delete" %>
</div>