<div>
    <h1><%= @post.title%></h1>
    <h3> By: <%= @post.user.name.capitalize %></h3>

    <div>
        <%= @post.content%>
    </div>
<br>
<br>
<br>

    <% if !@post.comments.empty? %>
    <div>
        <p>Comments:</p>
        <ol>
        <% @post.comments.each do |c|%>
            <li><strong><%= c.user.name%> </strong> says "<%=c.content %>" </li>
            <% end %>
        </ol>
        <p>
            <%= link_to 'See All Comments' , post_comments_path(@post)%>
        </p>
    </div>
    <% end %>


<h4>Add a comment:</h4>
<%= render 'comments/form', post: @post, user: current_user %>


</div>