<!DOCTYPE html>
<html>
  <head>
    <title>RailsMerchmanager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <% if logged_in?%>
      <%= link_to "See All Your Artists" , artists_path %> |
      <%= link_to "Create New Artist" , new_artist_path %> |
      <%= link_to "See All Your Photocards" , photocards_path %> |
      <%= link_to "Create New Photocard" , new_photocard_path %> |
      <%= link_to "Logout" , logout_path, method: "delete" %> |
      <% else %>
      <%= link_to "Register Here" , signup_path %> |
      <%= link_to "Log In Here" , login_path %> |
      <% end %>
    </div>
    <div class="error-handling">
      <% if flash[:message]%>
      <%= flash[:message]%>
      <% end %>
      <%= @error %>
    </div>
    <%= yield %>
  </body>
</html>
